<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01. Architectuur opstellen</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01. Architectuur opstellen</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-acf6192b003848df9413428f024bdd8d.png" alt="01. Architectuur opstellen" usemap="#id-acf6192b003848df9413428f024bdd8dmap"/>
			   <map name="id-acf6192b003848df9413428f024bdd8dmap">
				  		<area shape="rect" coords="10,358,456,438" href="../elements/id-10729bc0986a437abcf1ad6c7cb2cf32.html"  target="element">
				  		<area shape="rect" coords="316,238,456,318" href="../elements/id-fee91a86f4d245b288e5feeb1e7475ab.html"  target="element">
				  		<area shape="rect" coords="164,238,304,318" href="../elements/id-d2d927ed9dd14514b830a22e8bea2ddf.html"  target="element">
				  		<area shape="rect" coords="10,238,150,318" href="../elements/id-cdca8e95ec124b418cb06466009e9b34.html"  target="element">
				  		<area shape="rect" coords="318,121,453,189" href="../elements/id-df4438d7c68044db9447d0d8c271db70.html"  target="element">
				  		<area shape="rect" coords="167,118,300,191" href="../elements/id-0de1987a03a34cd4a3b9cce0580cda75.html"  target="element">
				  		<area shape="rect" coords="12,118,148,191" href="../elements/id-19adc3a5464f44a7ae2a0cd727d36afe.html"  target="element">
				  		<area shape="rect" coords="13,10,453,83" href="../elements/id-161b688cf8c54a56ab97de4d48e4fc95.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-161b688cf8c54a56ab97de4d48e4fc95.html" target="element"> Architectuur opstellen </a> </td>
											    <td> <a href="../elements/id-161b688cf8c54a56ab97de4d48e4fc95.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-19adc3a5464f44a7ae2a0cd727d36afe.html" target="element"> Architectuur doelgericht opstellen </a> </td>
											    <td> <a href="../elements/id-19adc3a5464f44a7ae2a0cd727d36afe.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0de1987a03a34cd4a3b9cce0580cda75.html" target="element"> Architectuur met stakeholders opstellen </a> </td>
											    <td> <a href="../elements/id-0de1987a03a34cd4a3b9cce0580cda75.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df4438d7c68044db9447d0d8c271db70.html" target="element"> Architectuur als samenhangend geheel opstellen </a> </td>
											    <td> <a href="../elements/id-df4438d7c68044db9447d0d8c271db70.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdca8e95ec124b418cb06466009e9b34.html" target="element"> Niveau 1 </a> </td>
											    <td> <a href="../elements/id-cdca8e95ec124b418cb06466009e9b34.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d2d927ed9dd14514b830a22e8bea2ddf.html" target="element"> Niveau 4 </a> </td>
											    <td> <a href="../elements/id-d2d927ed9dd14514b830a22e8bea2ddf.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fee91a86f4d245b288e5feeb1e7475ab.html" target="element"> Niveau 7 </a> </td>
											    <td> <a href="../elements/id-fee91a86f4d245b288e5feeb1e7475ab.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10729bc0986a437abcf1ad6c7cb2cf32.html" target="element"> Architectuur volwassenheidsniveaus </a> </td>
											    <td> <a href="../elements/id-10729bc0986a437abcf1ad6c7cb2cf32.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4219368f4b644e9b9f4c9e210c7c0aee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4219368f4b644e9b9f4c9e210c7c0aee.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-19adc3a5464f44a7ae2a0cd727d36afe.html" target="element"> Architectuur doelgericht opstellen </a> </td>
																		<td> <a href="../elements/id-161b688cf8c54a56ab97de4d48e4fc95.html" target="element"> Architectuur opstellen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-37353332a8334f0cab0958735528f49f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-37353332a8334f0cab0958735528f49f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0de1987a03a34cd4a3b9cce0580cda75.html" target="element"> Architectuur met stakeholders opstellen </a> </td>
																		<td> <a href="../elements/id-161b688cf8c54a56ab97de4d48e4fc95.html" target="element"> Architectuur opstellen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9c3d4446ec624a7485d71d759733677a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c3d4446ec624a7485d71d759733677a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-df4438d7c68044db9447d0d8c271db70.html" target="element"> Architectuur als samenhangend geheel opstellen </a> </td>
																		<td> <a href="../elements/id-161b688cf8c54a56ab97de4d48e4fc95.html" target="element"> Architectuur opstellen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-778649b192e3458dbe8a1c06b1cc0297.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-778649b192e3458dbe8a1c06b1cc0297.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdca8e95ec124b418cb06466009e9b34.html" target="element"> Niveau 1 </a> </td>
																		<td> <a href="../elements/id-19adc3a5464f44a7ae2a0cd727d36afe.html" target="element"> Architectuur doelgericht opstellen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-05158c032ebf4145be304a6bb15f2d15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05158c032ebf4145be304a6bb15f2d15.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d2d927ed9dd14514b830a22e8bea2ddf.html" target="element"> Niveau 4 </a> </td>
																		<td> <a href="../elements/id-0de1987a03a34cd4a3b9cce0580cda75.html" target="element"> Architectuur met stakeholders opstellen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6db923f2f4c04c62b6fdd013e8896caf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6db923f2f4c04c62b6fdd013e8896caf.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fee91a86f4d245b288e5feeb1e7475ab.html" target="element"> Niveau 7 </a> </td>
																		<td> <a href="../elements/id-df4438d7c68044db9447d0d8c271db70.html" target="element"> Architectuur als samenhangend geheel opstellen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-82d91ec16b3c40e4ad474144fc2cea29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82d91ec16b3c40e4ad474144fc2cea29.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10729bc0986a437abcf1ad6c7cb2cf32.html" target="element"> Architectuur volwassenheidsniveaus </a> </td>
																		<td> <a href="../elements/id-cdca8e95ec124b418cb06466009e9b34.html" target="element"> Niveau 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5f35e3e69c640b4b091e025770cd78a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5f35e3e69c640b4b091e025770cd78a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10729bc0986a437abcf1ad6c7cb2cf32.html" target="element"> Architectuur volwassenheidsniveaus </a> </td>
																		<td> <a href="../elements/id-d2d927ed9dd14514b830a22e8bea2ddf.html" target="element"> Niveau 4 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-38c71b5fd2c64a2aa469d86a7ef11043.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38c71b5fd2c64a2aa469d86a7ef11043.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-10729bc0986a437abcf1ad6c7cb2cf32.html" target="element"> Architectuur volwassenheidsniveaus </a> </td>
																		<td> <a href="../elements/id-fee91a86f4d245b288e5feeb1e7475ab.html" target="element"> Niveau 7 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>